<!-- required for video.js -->
<link href="//vjs.zencdn.net/4.12/video-js.css" rel="stylesheet">
<script src="//vjs.zencdn.net/4.12/video.js"></script>
<script type="text/javascript">
document.createElement('video');document.createElement('audio');document.createElement('track');
</script>

<!-- Static navbar -->
<nav class="navbar navbar-default navbar-static-top">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>

      <a class="navbar-brand">壹学</a>

    </div>
    <div id="navbar" class="navbar-collapse collapse">
      <% if user_signed_in? %>
        <ul class="nav navbar-nav navbar-right">
          <li><%= link_to "BACK TO COURSE", episodes_path %></li>
        </ul>
      <% end %>
    </div><!--/.nav-collapse -->
  </div>
</nav>
<!-- Static Navbar Ends -->

<!-- video container to host video -->
<div class="container">
  <div class="row">
    <div class="video-container">
    	<video id="video" class="video-js vjs-default-skin vjs-big-play-centered"
    	  controls preload="auto" width="auto" height="auto"
    	  poster="http://video-js.zencoder.com/oceans-clip.png"
    	  data-setup='{"autoplay":false}'>
    	 <source src=<%= @episode.video_url %> type='video/mp4' />
    	</video>
    </div>
  </div>
  
  <!-- panel content starts here -->
  <div class="row">
    <div class="panel panel-default">
      <div class="panel-body">

        <!-- text, comments, notes for the episode -->
        <div class="col-md-8 col-xs-12">
          <div class="lesson-notes">
          	<h1><%= @episode.name %></h1>
          	<p><%= @episode.updated_at %></p>
            <p><%= @episode.description %></p>
          </div>
        </div>
        
        <div class="col-md-4 col-xs-12">
        <!-- Navigation Buttons -->
          <nav>
            <ul class="pager">
              <%= link_to("Previous", @episode.previous, class: "btn btn-lg btn-block") if @episode.previous  %>
              <%= link_to("Next", @episode.next, class: "btn btn-lg btn-block") if @episode.next %>
            </ul>
          </nav><!-- Navigation Buttons End -->

          <!-- JiaThis Button BEGIN -->
            <div class="share-buttons">
              <div class="jiathis_style_32x32">
                <a class="jiathis_button_weixin"></a>
                <a class="jiathis_button_tsina"></a>
                <a class="jiathis_button_qzone"></a>
                <a class="jiathis_button_fb"></a>
                <a class="jiathis_button_googleplus"></a>
                <a class="jiathis_button_linkedin"></a>
                <a href="http://www.jiathis.com/share?uid=2009366" class="jiathis jiathis_txt jtico jtico_jiathis" target="_blank"></a>
                <a class="jiathis_counter_style"></a>
              </div>
              <script type="text/javascript">
              var jiathis_config = {data_track_clickback:'true'};
              </script>
              <script type="text/javascript" src="http://v3.jiathis.com/code/jia.js?uid=2009366" charset="utf-8"></script>
            </div> </ br>
            <!-- JiaThis Button END -->
        </div>
        
        <!-- UY BEGIN -->
        <div class="uyan-threads">
          <div id="uyan_frame"></div>
          <script type="text/javascript" src="http://v2.uyan.cc/code/uyan.js?uid=2009366"></script>
        </div>
        <!-- UY END -->
        
      </div>
    </div>
  </div>
  <!-- Panel Content End -->

</div>