<!DOCTYPE html>
<html>
<head>
  <title>YixueWebsite2</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  
  <%= render 'layouts/header' %>
  
 <div id="main_content" class="container">
 		<% flash.each do |name, msg| %>
 			<%= content_tag(:div, msg, class: "alert alert-info") %>
 		<% end %>

		<div class="col-md-6 col-md-offset-3 center-block">
			<%= yield %>
		</div>
 	</div>

</body>
</html>
